InheritParentConfig: true
Checks:
  - "-misc-use-anonymous-namespace"
  - "-misc-use-internal-linkage"
  - "-bugprone-throwing-static-initialization"
  - "-cppcoreguidelines-avoid-non-const-global-variables"
