BasedOnStyle: LLVM
Language: Cpp
AccessModifierOffset: 0
AlignEscapedNewlinesLeft: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
ColumnLimit: 120
CommentPragmas: ''
IndentWidth: 4
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
Standard: Cpp11
TabWidth: 4
UseTab: Never
