---
Language: Cpp
BasedOnStyle: Google
ColumnLimit: 120

DerivePointerAlignment: true
PointerAlignment: Left

# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve

# Ident for #if/#else/#endif
#   #if defined(WIN)
#   #  include <windows.h>
#   #else
#   #  include <curl.h>
#   #endif
IndentPPDirectives: AfterHash

IfMacros: ["UTIL_LIKELY_IF", "UTIL_UNLIKELY_IF", "ATFW_UTIL_LIKELY_IF", "ATFW_UTIL_UNLIKELY_IF"]

AttributeMacros:
  - UTIL_SYMBOL_LOCAL
  - UTIL_SYMBOL_EXPORT
  - UTIL_SYMBOL_IMPORT
  - UTIL_SYMBOL_VISIBLE
  - UTIL_NOINLINE_NOCLONE
  - UTIL_CONST_INIT
  - UTIL_ATTRIBUTE_LIFETIME_BOUND
  - UTIL_SANITIZER_NO_MEMORY
  - UTIL_SANITIZER_NO_THREAD
  - UTIL_SANITIZER_NO_ADDRESS
  - UTIL_SANITIZER_NO_UNDEFINED
  - UTIL_MACRO_INLINE_VARIABLE
  - UTIL_ATTRIBUTE_REINITIALIZES
  - UTIL_ATTRIBUTE_RETURNS_NONNULL
  - UTIL_CONFIG_THREAD_LOCAL
  - UTIL_CONFIG_DEPRECATED
  - UTIL_CONFIG_DEPRECATED_MSG
  - ATFW_UTIL_SYMBOL_LOCAL
  - ATFW_UTIL_SYMBOL_EXPORT
  - ATFW_UTIL_SYMBOL_IMPORT
  - ATFW_UTIL_SYMBOL_VISIBLE
  - ATFW_UTIL_NOINLINE_NOCLONE
  - ATFW_UTIL_CONST_INIT
  - ATFW_UTIL_ATTRIBUTE_LIFETIME_BOUND
  - ATFW_UTIL_SANITIZER_NO_MEMORY
  - ATFW_UTIL_SANITIZER_NO_THREAD
  - ATFW_UTIL_SANITIZER_NO_ADDRESS
  - ATFW_UTIL_SANITIZER_NO_UNDEFINED
  - ATFW_UTIL_MACRO_INLINE_VARIABLE
  - ATFW_UTIL_ATTRIBUTE_REINITIALIZES
  - ATFW_UTIL_ATTRIBUTE_RETURNS_NONNULL
  - ATFW_UTIL_CONFIG_THREAD_LOCAL
  - ATFW_UTIL_CONFIG_DEPRECATED
  - ATFW_UTIL_CONFIG_DEPRECATED_MSG
  - ATFW_UTIL_ATTRIBUTE_WARN_UNUSED
  - ATFW_UTIL_ATTRIBUTE_UNINITIALIZED
  - ATFW_UTIL_ATTRIBUTE_NO_UNIQUE_ADDRESS
  - ATFW_UTIL_ATTRIBUTE_OWNER
  - ATFW_UTIL_ATTRIBUTE_VIEW

---

---
Language: Proto
BasedOnStyle: Google
ColumnLimit: 120
---

